[submodule "libply-bk"]
	path = libply-bk
	url = https://github.com/LibPly/libply-bk.git
[submodule "libply-ui"]
	path = libply-ui
	url = https://github.com/LibPly/libply-ui.git
[submodule "libply-infra"]
	path = libply-infra
	url = https://github.com/LibPly/libply-infra.git
